<<<<<<< HEAD:css/style2.css


body {
  /*background: url(../img/bg.jpg) no-repeat center center fixed; */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

hr {
  border-color: #999999;
  max-width: 400px;
}

.number-pad
{
  width:270px;
  height:470px;
  background-color:#999999;
  border-top-right-radius:20px;
  border-top-left-radius:20px;
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
  padding:20px;
}

.round-button {
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}

ul#navlist
{
padding: 0;
margin: 0;
list-style-type: none;
float: left;
width: 100%;
color: #fff;
background-color: #036;
}

ul#checkuplist li { display: inline; }

ul#checkuplist li a
{
float: left;
width: 5em;
color: #fff;
background-color: #036;
padding: 0.2em 1em;
text-decoration: none;
border-right: 1px solid #fff;
}

ul#checkuplist li a:hover
{
background-color: #369;
color: #fff;
}

.brand,
.address-bar {
  display: none;
}


.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.box {
  background: #fff;
  background: rgba(255,255,255,0.9);
  margin-bottom: 20px;
  padding: 30px 15px;
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  /*background: #fff;
  background: rgba(255,255,255,0.9);*/
  height: 50px;
  display:inline-block;
  background: #fff;
  background: rgba(255,255,255,0.9);
  position: fixed;  
  bottom: 0px;
  width: 100%;
  margin: 0;

}

.navbut{
  display:inline-block;
  background: #fff;
  background: rgba(255,255,255,0.9);
  position: fixed;  
  bottom: 0px;
  width: 100%;

}

@media screen and (min-width: 768px) {

.brand {
  display: inherit;
  font-weight: 700;
  font-size: 5em;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 30px 0 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.top-divider {
  margin-top: 0;
}

.img-left {
  float: left;
  margin-right: 25px;
}

.address-bar {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  display: none;
}

.navbar {
  min-height: 0;
}

.navbar-default {
  background: #fff;
  background: rgba(255,255,255,0.9);
  border: none;
}

.nav>li>a {
  padding: 35px;
}

.navbar-nav>li>a {
  line-height: normal;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  font-size: 1.25em;
}

}

@media screen and (min-width: 1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
=======
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Kite+One:300,400);
@import url(http://fonts.googleapis.com/css?family=Brawler);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400);
 

body {
  /*background: url(../img/bg.jpg) no-repeat center center fixed; */
  font-family: 'Kite One', sans-serif;
 background-color: #ffebda;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Brawler', serif;
  /*text-transform: uppercase;*/
  /*letter-spacing: 3px;*/
  /*font-weight: 400;*/
}

p {
  /*font-size: 1.25em;
  line-height: 1.6;
  color: #000;*/
}

hr {
  border-color: #999999;
  max-width: 400px;
}

.ulNoMarker
{
    list-style-type: none;
}

.brand,
.address-bar {
  display: none;
}


.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 5px auto 3px;
  border-color: #999999;
  /*max-width: 250px;*/
}

.box {
  background: #ffebda;
  /*background: rgba(255,255,255,0.9);*/
  margin-bottom: 20px;
  padding: 30px 15px;
}



.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  /*background: #fff;
  background: rgba(255,255,255,0.9);*/
  height: 50px;
  display:inline-block;
  background: #fff;
  background: rgba(255,255,255,0.9);
  position: fixed;  
  bottom: 0px;
  width: 100%;
  margin: 0;

}


#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #FFAE4D;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: black;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color:black;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}





@media screen and (min-width: 768px) {

.brand {
  display: inherit;
  font-weight: 700;
  font-size: 5em;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 30px 0 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.top-divider {
  margin-top: 0;
}

.img-left {
  float: left;
  margin-right: 25px;
}

.address-bar {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  display: none;
}

.navbar {
  min-height: 0;
}

.navbar-default {
  background: #fff;
  background: rgba(255,255,255,0.9);
  border: none;
}

.nav>li>a {
  padding: 35px;
}

.navbar-nav>li>a {
  line-height: normal;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  font-size: 1.25em;
}

}

@media screen and (min-width: 1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
>>>>>>> 850a311a25d167dd8805e16b92075638a39a1b86:css/style.css
}