 
<div class="row">
    <form class="form-horizontal">
    <fieldset>

    <legend>Continuous Vitals</legend>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Weight</label>  
      <div class="col-md-4">
      <input id="textinput" name="textinput" type="text" placeholder="lbs" class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Blood Pressure</label>  
      <div class="col-md-4">
      <input id="textinput" name="textinput" type="text" placeholder="mm Hg" class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Fundal Height</label>  
      <div class="col-md-4">
      <input id="textinput" name="textinput" type="text" placeholder="cm" class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Fetal Heart Rate</label>  
      <div class="col-md-4">
      <input id="textinput" name="textinput" type="text" placeholder="bpm" class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Fetal Position</label>  
      <div class="col-md-4">
      <input id="textinput" name="textinput" type="text" placeholder="bpm" class="form-control input-md">
      </div>
    </div>

    </fieldset>
    </form>

</div>