<html>

<script>
	var profile = {
		"name":"Stephanie Humbert"
		"age": 25
		"gestational_age": "32w5d"
		"estimated_due_date": "4/6/2014"
		"parity": "g1p1"
		"fetal survey":"normal"
		"GTT/GLT":"108 passed"
		"last_us":"2/1/2014"
		"fetalweight":"3500g"
		"past_medical_history":"none"
		"past_surgical_history":"none"
	}
</script>

<table width="400">
	<tr>
		<td colspan="2">MyName</td>
	</tr>
	<tr>
		<td>Age:</td>
		<td rowspan="3">CHART</td>
	</tr>
	<tr>
		<td>Gestational Age:</td>
	</tr>
	<tr>
		<td>Parity:</td>
	</tr>
	<tr>
		<td>Fetal Survey:</td>
	</tr>
		<tr>
		<td>GTT/GLT:</td>
	</tr>
		<tr>
		<td colspan = "2">Last U/S:</td>
	</tr>
	<tr>
		<td>Fetal Weight:</td>
		<td>Percent Tile:</td> 
	</tr>
	<tr>
		<td colspan = "2">Past Medical History:</td>
	</tr>
	<tr>
		<td colspan = "2">Past Surgical History:</td>
	</tr>
	<tr>
		<td>Medications:</td>
		<td>Allergies:</td>
	</tr>
	<tr>
		<td colspan = "2">Hospitalizations during pregnancy:</td>
	</tr>
</table>

</html>