       <div class="row">
            <div class="box">

<!-- 		<h3>
			My Profile
		</h3>	

	<table width="400">
		<tr>
			<td colspan="2">Name: <span id="jname"></span></td>
		</tr>
		<tr>
			<td>Age:<span id="jage"></span></td>
			<td rowspan="3">CHART</td>
		</tr>
		<tr>
			<td>Gestational Age:<span id="jgestational_age"></span></td>
		</tr>
		<tr>
			<td>Due Date:<span id="jdue_date"></span></td>
		<tr>
			<td>Parity:<span id="jparity"></span></td>
		</tr>
		<tr>
			<td>Fetal Survey:<span id="jfetal_survey"></span></td>
		</tr>
			<tr>
			<td>GTT/GLT:<span id="jgtt_glt"></span></td>
		</tr>
			<tr>
			<td colspan = "2">Last U/S:<span id="jlast_us"></span></td>
		</tr>
		<tr>
			<td>Fetal Weight:<span id="jfetal_weight"></span></td>
			<td>Percent Tile:<span id="jpercent_tile"></span></td> 
		</tr>
		<tr>
			<td colspan = "2">Past Medical History:<span id="jpast_medical_history"></span></td>
		</tr>
		<tr>
			<td colspan = "2">Past Surgical History:<span id="jpast_surgical_history"></span></td>
		</tr>
		<tr>
			<td>Medications:<span id="jmedications"></span></td>
			<td>Allergies:<span id="jallergies"></span></td>
		</tr>
		<tr>
			<td colspan = "2">Hospitalizations during pregnancy:<span id="jhospitalizations_during_pregnancy"></span></td>
		</tr>
	</table> -->
 <img class="img-responsive" src="../img/homescreen.jpg"  alt="">
</div>

<script>
var profile = {

  	"name":"Stephanie Humbert",
	"age": 25,
	"gestational_age": "32w5d",
	"due_date": "4/6/2014",
	"parity": "g1p1",
	"fetal_survey":"normal",
	"gtt_glt":"108 passed",
	"last_us":"2/1/2014",
	"fetal_weight":"3500g",
	"percent_tile":72,
	"past_medical_history":"anemia",
	"past_surgical_history":"none",
	"medications":"prenatal vitamins, iron pills",
	"allergies":"none",
	"fetal_position": "vertex",
	"placental_position": "low anterior",
	"blood_type": "A+",
	"rh": "negative",
	"gbs": "positive",
	"hiv": "negative",
	"hospitalizations_during_pregnancy":1
};
document.getElementById("jname").innerHTML=profile.name;
document.getElementById("jage").innerHTML=profile.age;
document.getElementById("jgestational_age").innerHTML=profile.gestational_age;
document.getElementById("jdue_date").innerHTML=profile.due_date;
document.getElementById("jparity").innerHTML=profile.parity;
document.getElementById("jfetal_survey").innerHTML=profile.fetal_survey;
document.getElementById("jgtt_glt").innerHTML=profile.gtt_glt;
document.getElementById("jlast_us").innerHTML=profile.last_us;
document.getElementById("jfetal_weight").innerHTML=profile.fetal_weight;
document.getElementById("jpercent_tile").innerHTML=profile.percent_tile;
document.getElementById("jpast_medical_history").innerHTML=profile.past_medical_history;
document.getElementById("jpast_surgical_history").innerHTML=profile.past_surgical_history;
document.getElementById("jmedications").innerHTML=profile.medications;
document.getElementById("jallergies").innerHTML=profile.allergies;
// document.getElementById("jfetal_position").innerHTML=profile.fetal_position;
// document.getElementById("jplacental_position").innerHTML=profile.placental_position;
// document.getElementById("jblood_type").innerHTML=profile.blood_type;
// document.getElementById("jrh").innerHTML=profile.rh;
// document.getElementById("jgbs").innerHTML=profile.gbs;
// document.getElementById("jhiv").innerHTML=profile.hiv;
document.getElementById("jhospitalizations_during_pregnancy").innerHTML=profile.hospitalizations_during_pregnancy;
</script>

<script>
              $("#home").click(function () {
                $("#mainContainer").html("").load("./views/homePage.html")
                });
            $("#nav2").click(function () {
                $("#mainContainer").html("").load("./views/schedVisits.html")
                });
            $("#nav3").click(function () {
                $("#mainContainer").html("").load("./views/vitals.html")

                 });
            $("#nav5").click(function () {
                $("#mainContainer").html("").load("./views/chart1.html")
                });

            $("#wght").click(function () {
                $("#mainContainer").html("").load("views/wgt.html")
                });
            // $("#bp").click(function () {
            //     $("#mainContainer").html("").load("views/bp.html")
            //     });
            // $("#FH").click(function () {
            //     $("#mainContainer").html("").load("views/FH.html")
            //      });
            // $("#FHR").click(function () {
            //     $("#mainContainer").html("").load("views/FHR.html")
            //     });
            // $("#FP").click(function () {
            //     $("#mainContainer").html("").load("views/FP.html")
            //      });
            $("#ULImg").click(function () {
                $("#mainContainer").html("").load("views/images.html")
                });


 </script>


