<div class="row">
    <div class="box ">
		<h3>Images</h3>	

        <div class="row">
            <!-- <div class="box"> -->
   
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="../img/baby2.jpg" style"=width:200"
                      alt="">
                    Nov 2013
                        <!-- <small>Job Title</small> -->
                    
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="../img/baby3.jpg"  style"=width:200"alt="">
                    Dec 2013
                       <!--  <small>Job Title</small> -->
                    
                </div>
				<div class="col-sm-4 text-center">
                    <img class="img-responsive" src="../img/baby4.jpg"  style"=width:200"alt="">
                    Jan 2014
                         <!-- <small>Job Title</small>
                     -->
                </div>

                <div class="col-sm-4 text-center">
                    <img class="img-responsive"src="../img/UL.gif"  style"=width:200"alt="">
                    Feb 2014 
                       <!--  <small>Job Title</small>
                     -->
                </div>

        </div>





    <!-- </div> -->
</div>

 <script>
              $("#home").click(function () {
                $("#mainContainer").html("").load("./views/homePage.html")
                });
            $("#nav2").click(function () {
                $("#mainContainer").html("").load("./views/schedVisits.html")
                // console.log(43)
                });
            $("#nav3").click(function () {
                $("#mainContainer").html("").load("./views/vitals.html")

                 });
            $("#nav5").click(function () {
                $("#mainContainer").html("").load("./views/chart1.html")
                });


            // console.log(43)
            // $("#mainContainer" ).load("views/mainContent.html");
            $("#wght").click(function () {
                $("#mainContainer").html("").load("views/wgt.html")
                });
            // $("#bp").click(function () {
            //     $("#mainContainer").html("").load("views/bp.html")
            //     });
            // $("#FH").click(function () {
            //     $("#mainContainer").html("").load("views/FH.html")
            //      });
            // $("#FHR").click(function () {
            //     $("#mainContainer").html("").load("views/FHR.html")
            //     });
            // $("#FP").click(function () {
            //     $("#mainContainer").html("").load("views/FP.html")
            //      });
            $("#ULImg").click(function () {
                $("#mainContainer").html("").load("views/images.html")
                });

 </script>