



<form class="form-horizontal">
<fieldset>

<legend>Prenatal Visits</legend>

<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">8 wks</button>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">16 wks</button>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">20 wks</button>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">24 wks</button>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">36 wks</button>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">40 wks</button>
  </div>
</div>

</fieldset>
</form>

