
<div class="row">
    <div class="box schVisit">

<h3> My Visits </h3>

    <div class="form-group">
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">8 wks</button>
      </div>
    </div>
    <hr class="tagline-divider">

    <div class="form-group">
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">16 wks</button>
      </div>
    </div>
    <hr class="tagline-divider">

    <div class="form-group">
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">20 wks</button>
      </div>
    </div>
  <hr class="tagline-divider">
    <div class="form-group">
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">24 wks</button>
      </div>
    </div>
  <hr class="tagline-divider">
    <div class="form-group">
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">36 wks</button>
      </div>
    </div>
  <hr class="tagline-divider">
    <div class="form-group">
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">40 wks</button>
      </div>
    </div>
  <hr class="tagline-divider">

    <h3> Tracking Pregnancy </h3>
    <ul class="ulNoMarker">
        <li sytle="margin: 5px 0" id="wght">Weight</li>
        <li id="bp">Blood Pressure</li>
        <li id="FH">Fundal Height </li>
        <li id="FHR">Fetal Heart Rate</li>
        <li id="FP">Fetal Position</li>  
        <li id="ULImg">Ultrasound Images</li>
    </ul>

    </div>
</div>

 <script>
              $("#home").click(function () {
                $("#mainContainer").html("").load("./views/homePage.html")
                });
            $("#nav2").click(function () {
                $("#mainContainer").html("").load("./views/schedVisits.html")
                });
            $("#nav3").click(function () {
                $("#mainContainer").html("").load("./views/vitals.html")

                 });
            $("#nav5").click(function () {
                $("#mainContainer").html("").load("./views/chart1.html")
                });

            $("#wght").click(function () {
                $("#mainContainer").html("").load("views/wgt.html")
                });
            // $("#bp").click(function () {
            //     $("#mainContainer").html("").load("views/bp.html")
            //     });
            // $("#FH").click(function () {
            //     $("#mainContainer").html("").load("views/FH.html")
            //      });
            // $("#FHR").click(function () {
            //     $("#mainContainer").html("").load("views/FHR.html")
            //     });
            // $("#FP").click(function () {
            //     $("#mainContainer").html("").load("views/FP.html")
            //      });
            $("#ULImg").click(function () {
                $("#mainContainer").html("").load("views/images.html")
                });


 </script>





