<html>

<link href="../css/style.css" rel="stylesheet">

<img src="stork" alt="stork logo" width="50" height="50">

<table>
	<tr>
		<td><div name="round-button">1</div></td>
		<td><div name="round-button">2</div></td>
		<td><div name="round-button">3</div></td>
	</tr>
		<tr>
		<td><div name="round-button">4</div></td>
		<td><div name="round-button">5</div></td>
		<td><div name="round-button">6</div></td>
	</tr>
		<tr>
		<td><div name="round-button">7</div></td>
		<td><div name="round-button">8</div></td>
		<td><div name="round-button">9</div></td>
	</tr>
</table>

<button type="myinfo">My Info</button>

</html>