<div class="row">
    <div class="box">

 <h3> Tracking Pregnancy </h3>
    <ul class="ulNoMarker">
        <li style="margin: 5px 0" id="wght">Weight</li>
        <li style="margin: 5px 0" id="bp">Blood Pressure</li>
        <li style="margin: 5px 0" id="FH">Fundal Height </li>
        <li style="margin: 5px 0" id="FHR">Fetal Heart Rate</li>
        <li style="margin: 5px 0" id="FP">Fetal Position</li>  
        <li style="margin: 5px 0" id="ULImg">Ultrasound Images</li>
    </ul>


    <hr>

    <div class="row"  style="margin-left:40px" >
        <form class="form-horizontal">
        <fieldset>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Weight</label>  
          <div class="col-md-4">
          <input id="textinput"  style="width:100px" name="textinput" type="text" placeholder="lbs" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Blood Pressure</label>  
          <div class="col-md-4">
          <input id="textinput" style="width:100px" name="textinput" type="text" placeholder="mm Hg" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Fundal Height</label>  
          <div class="col-md-4">
          <input id="textinput" style="width:100px" name="textinput" type="text" placeholder="cm" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Fetal Heart Rate</label>  
          <div class="col-md-4">
          <input id="textinput" style="width:100px" name="textinput" type="text" placeholder="bpm" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Fetal Position</label>  
          <div class="col-md-4">
          <input id="textinput" style="width:100px" name="textinput" type="text" placeholder="bpm" class="form-control input-md">
          </div>
        </div>

        </fieldset>
        </form>

    </div>

    </div>
</div>


<script>
              $("#home").click(function () {
                $("#mainContainer").html("").load("./views/homePage.html")
                });
            $("#nav2").click(function () {
                $("#mainContainer").html("").load("./views/schedVisits.html")
                });
            $("#nav3").click(function () {
                $("#mainContainer").html("").load("./views/vitals.html")

                 });
            $("#nav5").click(function () {
                $("#mainContainer").html("").load("./views/chart1.html")
                });

            $("#wght").click(function () {
                $("#mainContainer").html("").load("views/wgt.html")
                });
            // $("#bp").click(function () {
            //     $("#mainContainer").html("").load("views/bp.html")
            //     });
            // $("#FH").click(function () {
            //     $("#mainContainer").html("").load("views/FH.html")
            //      });
            // $("#FHR").click(function () {
            //     $("#mainContainer").html("").load("views/FHR.html")
            //     });
            // $("#FP").click(function () {
            //     $("#mainContainer").html("").load("views/FP.html")
            //      });
            $("#ULImg").click(function () {
                $("#mainContainer").html("").load("views/images.html")
                });


 </script>

